<h2 class="jumbotron">Editing Post</h2>
<div class="row">
	<div class="col-md-12 col-md-offset-0">
<%= render 'form' %>

<%= link_to 'Show', @post, class: "btn btn-default", role: "button" %> |
<%= link_to 'Back', posts_path, class: "btn btn-info", role: "button" %>

	</div>
</div>
